
body{

    background-image: linear-gradient(to right,#000000FF,#FFFFFFFF,#00203FFF,rgb(48, 204, 165));
    background-position: right bottom, left top;
    background-repeat: no-repeat,no-repeat ;
    font-family: 'Trade Winds', cursive;
    font-weight: 500;
}
.header{
    width: 100%;
   
    background-color: rgb(45, 187, 187);
   
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: 2;
}

@keyframes example {
    0%   {background-color: #000000FF;}
  25%  {background-color: #FFFFFFFF;}
  50%  {background-color: #00203FFF;}
  100% {background-color: #ADEFD1FF;}
  }


  
.logo { 
    width: 100px;
   position: absolute;
    top: 0px;
    left: 0;
}

.a{
    font-size: 20px;
    font-family:fantasy;
    margin-right: 80px;
    
    width: 80px;
}
.a:hover{
    background: rgb(21, 163, 163);
    color:rgb(233, 17, 17);
    padding: 5px;
    box-shadow: 5px 5px red;
}

.nv{
    display: inline-block;
    margin-left: 300px;
  
}

img#workout{
    width: 100%;
    height:700px;
    
}
video{
    width: 100%;
    height: auto;
}



 .raise{

    background-color: aquamarine;
    color:maroon;
    border-radius: 25px;
    box-shadow: 15px 15px ;
}

.side{
    background-color: rgb(18, 243, 149);
    color: rgb(57, 57, 124);
    border-radius: 25px;
    box-shadow: 15px 15px ;
}
.triceps{
    background-color: rgb(14, 13, 13);
    color: white;
    border-radius: 25px;
    box-shadow: 15px 15px ;
}

.diamond{
    background-color: rgb(66, 82, 77);
    color:rgb(18, 241, 47);
   border-radius: 25px;
    box-shadow: 15px 15px ;
}

.press{
    background-color: rgb(84, 141, 143);
    color: rgb(196, 209, 14);
   border-radius: 25px;
    box-shadow: 15px 15px ;
}


.punches{
    background-color: rgb(114, 133, 64);
    color: rgb(7, 187, 241);
   border-radius: 25px;
    box-shadow: 15px 15px ;
}



img#foo
{
   
   width: 60px;
    margin-left: 50px;
}

footer{
background-color:lightseagreen;
}

.foot{
    color:white;
    text-align: center;
   
}